<% @title = "Az API" %>


<%= render :partial => 'helpnav' %>
<div class="grid_8_of_12 single left">
  <h1><%=@title %></h1>
  <dl>
    <dt>Bevezetés</dt>
    <dd>
      <p>Ezen az oldalon összefoglaljuk, hogyan hozhatók létre további külső weboldalak, widget-ek a KiMitTud adatbázisában található adatokból - pl. adatigénylésekből, adatgazdák adataiból - , hogyan hivatkozhat az objektumokra, illetve hogyan lehet az adatigénylő űrlapot az url-el felparaméterezni.
      </p>

      <p>A KiMitTud nem rendelkezik még teljes API-val, de az igényeknek megfelelően folyamatosan fejlesztünk olyan funkcionalitásokat, amelyek megkönnyítik a rendszerben tárolt nyilvános adatokhoz való külső hozzáférést.
      </p>
    </dd>

    <dt>Hivatkozás (link) létrehozása új adatigénylést létrehozó űrlaphoz, illetve az url felparaméterezése</dt>
    <dd>
      <p>Ezzel a lehetőséggel létre lehet hozni egy olyan hivatkozást - amit aztán beilleszthetünk a saját weboldalunkba -, mellyel közvetlenül az adatigénylést kitöltő űrlapra lehet irányítani a linkre kattintó felhasználót. Hasznos lehet például adatgazdák számára, ha a honlapjukon létrehoznának egy hivatkozást, mely saját maguknak előre megcímzi az adatigénylést. Vagy esetleg, ha valaki adatigénylő kampányt kíván indítani, arra is van lehetősége, hogy az adatigénylés szövegét is elküldje az url-el az adatigénylő űrlapnak. Az URL-ek formája a következő legyen: <%= link_to new_request_to_body_url(:url_name => "naih") , new_request_to_body_url(:url_name => "dfh") %>. Az alábbi paramétereket adhatja hozzá az URL-ekhez akár magában az URL-ben, akár űrlapról.

      <ul>
          <li> <strong>title</strong> - za új adatigénylés címe, ez lesz a levél tárgya is. Nem kell beleírni hogy "Közérdekűadat igénylés -", a rendszer automatikusan a tárgy elé teszi ezt a szöveget</li>
          <li> <strong>default_letter</strong> - levél törzsének szövege. Az üdvözlés (Tisztelt...) és az elbúcsúzás (üdvözlettel...) ezt ölelik körbe. </li>
          <li> <strong>body</strong> - a default_letter alternatívája de az üdvözlés és a búcsúzás is személyre szabható. </li>
          <li> <strong>tags</strong> - címkék szóközzel elválasztott listája, amely alapján az adatigénylések bármikor kikereshetők és hivatkozhatók, pl. <em>openlylocal spending_id:12345</em>. A : (kettőspont) gépi címkét jelöl. A gépi címkék értéke tartalmazhat kettőspontot, amely URL-ek esetében hasznos lehet.
      </ul>
    </dd>

    <dt>RSS- (Atom) hírfolyam</h2>
    <dd>
      <p>A KiMitTud közérdekű adatigénylések listáját tartalmazó oldalain Atom hírfolyam is található. Az Atom hírfolyam URL-jéhez az alábbi módokon lehet hozzájutni: 
      <ul>
          <li>Keresse az <img src="/images/feed-16.png" alt=""> RSS-hírfolyam hivatkozást az oldalon.</li>
          <li>Vizsgálja meg a <tt>&lt;link rel=&quot;alternate&quot; type=&quot;application/atom+xml&quot;&gt;</tt> címkét a HTML fejrészében. </li>
          <li>Adja a <tt>/feed</tt> elemet egy másik URL elejéhez. Például. https://kimittud.atlatszo.hu/body/atlatszo -> https://kimittud.atlatszo.hu/feed/body/atlatszo 
      </ul>

      <p>Még az összetettebb keresési lekérdezésekhez is tartozik Atom hírfolyam. Ezek sok mindenre használhatók: kereshet például közintézmény, fájltípus, dátumtartomány vagy állapot szerint. További részletekért lásd az <a href="/search">összetett keresésre vonatkozó tippek</a> című részt.
    </dd>

    <dt>JSON formátumú strukturált adatok</dt>
    <dd>
      <p>Jónéhány oldalnak van JSON verziója is, amelynek segítségével az objektumokról strukturált formában tud letölteni információt. Ezeket így lehet megtalálni:
      <ul>
          <li>Adja a <tt>.json</tt> elemet az URL végéhez. </li>
          <li>Keresse meg a <tt>&lt;link rel=&quot;alternate&quot; type=&quot;application/json&quot;&gt;</tt> címkét a HTML fejrészében. </li>
      </ul>
      </p>

      <p>Az igénylések, a felhasználók és a közintézmények is mind rendelkeznek JSON verzióval, amely tartalmazza a rájuk vonatkozó legfontosabb adatokat. Minden Atom hírfolyamnak van JSON formátumú megfelelője, amely a hírfolyamban található események listájára vonatkozóan tartalmaz adatokat.
      </p>
    </dd>
    
    <dt>Az összes közintézményt tartalmazó tábla</dt>
    <dd>
      <p>
      A KiMitTud weboldalon keresztül elérhető összes közintézményt tartalmazó lista: <%= link_to "all-authorities.csv", all_public_bodies_csv_url() %>
      </p>

    </dd>
  </dl>

  <p>Ha olyan API-funkcióra van szüksége, amelyet nem talál, <a href="/help/contact">lépjen velünk kapcsolatba</a>. A fejlesztés folyamatos, igény esetén újabb és újabb funkciók jelenhetnek meg a rendszerben.</p>

  <div id="hash_link_padding"></div>
</div>
<%= render :partial => 'sidebar' %>